h1 {
  color: #27aedb;
  text-align: center;
}

$body-color: #333;

body {
  color: $body-color;
  margin: 0 50px;
}

.post {
  padding: 10px;
  border: 1px solid #333;
  margin-bottom: 20px;
}
a {
  display: block;
}
